.bttf-font {
    font-family: 'bttf';
}

.clickable {
    cursor: pointer;
}

.space {
    margin-left: 5px;
}

.product-cover {
    width: 500px;
    border-radius: 10px;
}

.product-images {
    width: 100%;
    height: 250px;
    object-fit: scale-down;
}

.product-card-product {
    background-color: #f1f1f1;
    margin-top: 5px;
}

.product-button-cart-text {
    margin-left: 5px
}

.orders-line:hover {
    background-color: #ececec;
}

.order-product-image {
    width: 60px;
    height: 60px;
    object-fit: scale-down;
}